@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Sarabun:wght@400;500&display=swap');

:root {
  --font-kanit: kanit;
  --font-sarabun: sarabun;
  --primary-color: #FE5F24;
  --title-text-color: #151D34;
  --text-color: #2E3B61;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sarabun);
}

.bg-img {
  min-height: 100vh;
  width: 100%;
  background-image: url(image/background.png);
}

.logo {
  display: flex;
  margin: 0 auto;
  padding-top: 30px;
}

.container-new {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

.title-search {
  display: flex;
  justify-content: center;
  font-family: var(--font-sarabun);
  font-size: 26px;
  text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}
.search-bar-mobile {
  display: none;
}
.search-bar-mobile form {
  display: none;
}
.search-bar-mobile form input {
  display: none;
}
.search-bar {
  background: rgba(17, 17, 17, 0.85);
  width: 914px;
  margin: 30px auto;
  padding: 6px 10px 6px 10px;
  border-radius: 11px;
  max-width: 100%;
}


.search-bar form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
}


.search-bar form input {
  display: block;
  border: 0;
  border-radius: 8px;
  height: 45px;
  width: 650px;
  max-width: 100%;
}


::placeholder {
  color: #828282;
  font-size: 16px;
  padding-left: 11px;
}

.search-button {
  display: flex;
  background: linear-gradient(180deg, #FF6827 0%, #FB3F15 100%);
  color: #FFFFFF;
  padding: 11px 48px;
  margin-left: 12px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
}

.search-bar form img {
  margin-right: 8px;
}
.search-bar-moible form img {
  margin-right: 8px;
}

.white-bg{
  background: #FBFBFB;
  width: 100%;
  min-height: 520px;
  border-radius: 15px 15px 0 0;
}

.title-status {
  display: flex;
  justify-content: center;
  font-family: var(--font-kanit);
  font-size: 24px;
  font-weight: 500;
  padding-top: 35px;
}

.underline {
  background: var(--primary-color);
  height: 5px;
  width: 80px;
  margin: 0 auto;
  margin-top: 15px;
}

.contianer-card {
  display: flex;
  justify-content: center;
  margin-top: 50px;

}

.step-card {
  background: #FFFFFF;
  width: 285px;
  height: 315px;
  border-radius: 15px;
  box-shadow: 5px 5px 8px rgba(208, 219, 224, 0.15);
  margin: 0 15px;
}

.images-card {
  height: 226px;
  width: 285px;
  margin-bottom: 16px;
  border-radius: 15px 15px 0 0;
  background-size: cover;
}
/* .images-card{
  width: 285px;
  max-width: 100%;
  box-shadow: 5px 5px 8px rgba(208, 219, 224, 0.15);
  border-radius: 15px 15px 0 0;
} */

.title-card {
  display: flex;
  justify-content: center;
  font-family: var(--font-kanit);
  color: #000;
  font-size: 18px;
  margin-bottom: 5px;
}

.detials-card {
  text-align: center;
  color: #4F4F4F;
  font-size: 16px;
}

.step-1 {
  background-image: url('image/step1.png');
}

.step-2 {
  background-image: url('image/step2.png');
}

.step-3 {
  background-image: url('image/step3.png');
}

.step-4 {
  background-image: url('image/step4.png');
}

.clear-search{
  width: 30px;
  height:30px;
  max-width: 100%;
  margin: 0;
  border-radius: 50%;
  background-color: transparent;
  border: transparent;
  outline: none !important;
}

.btn-read{
  padding: 9.5px 46px;
  border-radius: 8px;
  background: linear-gradient(180deg, #2950D0 0%, #2A50CE 100%);
  color: #FFFFFF;
  box-shadow: 0px -4px 5px #00000040 inset;
  border: transparent;
  outline: none !important;
}
button.btn-read:active{
  background-color: red;
  transform: scale(1.03);
}
.read-file{
  margin-top: 24px;
}
.read-file span {
  font-size: 16px;
}

@media (max-width:900px) {
  .search-bar form input {
    display: block;
    border: 0;
    border-radius: 8px;
    height: 45px;
    width: 600px;
    max-width: 100%;
  }
  .search-button {
    display: flex;
    background: linear-gradient(180deg, #FF6827 0%, #FB3F15 100%);
    color: #FFFFFF;
    padding: 11px 40px;
    margin-left: 12px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
  }
}
@media (max-width:834px) {
  .search-bar form input {
    display: block;
    border: 0;
    border-radius: 8px;
    height: 45px;
    width: 540px;
    max-width: 100%;
  }
  .search-button {
    display: flex;
    background: linear-gradient(180deg, #FF6827 0%, #FB3F15 100%);
    color: #FFFFFF;
    padding: 11px 30px;
    margin-left: 12px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
  }
}
@media (max-width:754px) {
  .search-bar form input {
    display: block;
    border: 0;
    border-radius: 8px;
    height: 45px;
    width: 450px;
    max-width: 100%;
  }
  .search-button {
    display: flex;
    background: linear-gradient(180deg, #FF6827 0%, #FB3F15 100%);
    color: #FFFFFF;
    padding: 11px 30px;
    margin-left: 12px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
  }
}
@media (max-width:664px) {
  .logo{
    width: 65%;
  }
  .search-bar form input {
    display: block;
    border: 0;
    border-radius: 8px;
    height: 45px;
    width: 370px;
    max-width: 100%;
  }
  .search-button {
    display: flex;
    background: linear-gradient(180deg, #FF6827 0%, #FB3F15 100%);
    color: #FFFFFF;
    padding: 11px 25px;
    margin-left: 12px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
  }
}
@media (max-width:574px) {
  .logo{
    width: 70%;
  }
  .search-bar  {
    display: none !important;
    background: none;
    width: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    max-width: 0;
  }
  .form-search{
    display: none !important;
  }
  .search-bar-mobile {
    background: rgba(17, 17, 17, 0.85);
    width: 914px;
    margin: 30px auto;
    padding: 6px 10px 6px 10px;
    border-radius: 11px;
    max-width: 100%;
    display: block;
  }
  .search-bar-mobile form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    display: block;
  }
  .search-bar-mobile form input {
    display: block;
    border: 0;
    border-radius: 8px;
    height: 45px;
    width: 460px;
    max-width: 100%;
    display: block;
  }
  .search-button {
    display: flex;
    background: linear-gradient(180deg, #FF6827 0%, #FB3F15 100%);
    color: #FFFFFF;
    padding: 11px 48px;
    margin-left: 12px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
  }
}
@media (max-width:490px) {
  .not-found{
    width: 70%;
  }
  .title-search {
    font-size: 22px;
  }
  .search-bar  {
    display: none !important;
    background: none;
    width: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    max-width: 0;
  }
  .form-search{
    display: none !important;
  }
  .search-bar-mobile {
    background: rgba(17, 17, 17, 0.85);
    width: 914px;
    margin: 30px auto;
    padding: 6px 10px 6px 10px;
    border-radius: 11px;
    max-width: 100%;
    display: block;
  }
  .search-bar-mobile form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    display: block;
  }
  .search-bar-mobile form input {
    display: block;
    border: 0;
    border-radius: 8px;
    height: 45px;
    width: 390px;
    max-width: 100%;
    display: block;
  }
  .search-button {
    display: flex;
    background: linear-gradient(180deg, #FF6827 0%, #FB3F15 100%);
    color: #FFFFFF;
    padding: 11px 48px;
    margin-left: 12px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
  }
}
@media (max-width:435px) {
  .logo{
    width: 80%;
  }
  .title-search {
    font-size: 20px;
  }
  .search-bar  {
    display: none !important;
    background: none;
    width: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    max-width: 0;
  }
  .form-search{
    display: none !important;
  }
  .search-bar-mobile {
    background: rgba(17, 17, 17, 0.85);
    width: 914px;
    margin: 30px auto;
    padding: 6px 10px 6px 10px;
    border-radius: 11px;
    max-width: 100%;
    display: block;
  }
  .search-bar-mobile form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    display: block;
  }
  .search-bar-mobile form input {
    display: block;
    border: 0;
    border-radius: 8px;
    height: 45px;
    width: 300px;
    max-width: 100%;
    display: block;
  }
  .search-button {
    display: flex;
    background: linear-gradient(180deg, #FF6827 0%, #FB3F15 100%);
    color: #FFFFFF;
    padding: 11px 48px;
    margin-left: 12px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
  }
}